Node-red/display.txt
[{"id":"dba8373f.6899f8","type":"inject","z":"226a835f.f7886c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["3056e63e.5312ea"]]},{"id":"184c0a93.81ce55","type":"mysql","z":"226a835f.f7886c","mydb":"107280d3.6e5b9f","name":"mysql","x":470,"y":240,"wires":[["7eb863f6.a8684c","114aa56f.e136bb"]]},{"id":"3056e63e.5312ea","type":"function","z":"226a835f.f7886c","name":"SELECT","func":"msg.topic = \"SELECT * FROM TrainLog WHERE id = (SELECT max(id) from TrainLog)\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":240,"wires":[["184c0a93.81ce55"]]},{"id":"7eb863f6.a8684c","type":"debug","z":"226a835f.f7886c","name":"sql output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":640,"y":180,"wires":[]},{"id":"114aa56f.e136bb","type":"function","z":"226a835f.f7886c","name":"dataInspector","func":"var result = msg.payload[0];\n\n//get data from object\nvar temp = result.temperature;\nvar hum = result.humidity;\nvar people = result.people;\n\n//calc thi\nvar thi = 0.81 * temp + 0.01 * hum * (0.99 * temp - 14.3) + 46.3;\nthi = Math.floor(thi);\n\n//calc color\nvar color;\nif(thi < 60)\n{\n    color = \"BLUE\";\n}\nelse if(thi>=60 && thi<70)\n{\n    color = \"GREEN\";\n}\nelse\n    color = \"RED\";\n    \n//calc condition \nvar cond;\nif(thi < 60)\n{\n    cond = \"Cool\";\n}\nelse if(thi>=60 && thi<70)\n{\n    cond = \"Comfortable\";\n}\nelse\n    cond=\"Hot\";\n    \n//congestion\nvar congestion;\nif(people<52)\n    congestion= \"Seat\";\nelse if(people>=52 && people<104)\n    congestion = \"Strap\";\nelse\n    congestion=\"Stand\";\n\nvar jsonObj = \"{\\\"color\\\":\\\"\"+color+\"\\\",\\\"thi\\\":\\\"\"+thi+\"\\\",\\\"condition\\\":\\\"\"+cond+\"\\\",\\\"people\\\":\\\"\"+people+\"\\\",\\\"congestion\\\":\\\"\"+congestion+\"\\\"}\";\n\nmsg.payload = jsonObj;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":240,"wires":[["c4810daa.fdb42","8a31d89e.5aa148"]]},{"id":"c4810daa.fdb42","type":"debug","z":"226a835f.f7886c","name":"displayData","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":180,"wires":[]},{"id":"8a31d89e.5aa148","type":"json","z":"226a835f.f7886c","name":"","property":"payload","action":"","pretty":false,"x":870,"y":240,"wires":[["b3edc1c4.5cbf9","1c427d7b.457a83"]]},{"id":"b3edc1c4.5cbf9","type":"debug","z":"226a835f.f7886c","name":"jsonOutput","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":180,"wires":[]},{"id":"1c427d7b.457a83","type":"mqtt out","z":"226a835f.f7886c","name":"","topic":"display","qos":"1","retain":"","broker":"6434b2d5.88f6ec","x":1110,"y":240,"wires":[]},{"id":"107280d3.6e5b9f","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"TrainDB","tz":""},{"id":"6434b2d5.88f6ec","type":"mqtt-broker","z":"","name":"Pi-Server(local)","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]