Node-red Data follower/flow code.txt
[{"id":"3e6a84ac.2d1a6c","type":"mqtt in","z":"e08c06f3.b0f4b8","name":"","topic":"test","qos":"2","broker":"366e98ba.95faa8","x":69.5,"y":41,"wires":[["5f7d9ac3.e832c4","ce02d620.d2d398"]]},{"id":"43c5cfd5.5abdc","type":"mysql","z":"e08c06f3.b0f4b8","mydb":"387e56e2.8adf0a","name":"","x":704.5,"y":287,"wires":[[]]},{"id":"5f7d9ac3.e832c4","type":"debug","z":"e08c06f3.b0f4b8","name":"mqtt raw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":224.5,"y":40,"wires":[]},{"id":"ce02d620.d2d398","type":"json","z":"e08c06f3.b0f4b8","name":"jsonConverter","property":"payload","action":"","pretty":false,"x":237.5,"y":98,"wires":[["8755f63.4bd7008","fe488ab0.8ad678"]]},{"id":"8755f63.4bd7008","type":"debug","z":"e08c06f3.b0f4b8","name":"json output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":444.5,"y":99,"wires":[]},{"id":"fe488ab0.8ad678","type":"function","z":"e08c06f3.b0f4b8","name":"database inserter","func":"var jsonObj = msg.payload;\n\nvar query = \"INSERT INTO TrainLog(doorNumber,inCounter,outCounter,people,temperature,humidity,cabNumber,station) VALUES(\"+jsonObj.doorNumber+\",\"+ jsonObj.inCounter+\",\"+jsonObj.outCounter+\",\"+jsonObj.people+\",\"+jsonObj.temperature+\",\"+jsonObj.humidity+\",\"+jsonObj.cabNumber+\",'\"+jsonObj.station+\"');\";\nmsg.topic=query;\nmsg.payload=\"insert data\";\nreturn msg;","outputs":1,"noerr":0,"x":468.5,"y":214,"wires":[["a7c5d4a7.098628","43c5cfd5.5abdc"]]},{"id":"a7c5d4a7.098628","type":"debug","z":"e08c06f3.b0f4b8","name":"query","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":684.5,"y":214,"wires":[]},{"id":"366e98ba.95faa8","type":"mqtt-broker","z":"","name":"Pi-Server(local)","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"387e56e2.8adf0a","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"TrainDB","tz":""}]